:root {
  --background: #222;
  --main-text: #eee;
  --card-background: rgba(0, 0, 0, 0.1);
  --card-border: #aaa;
}

#App{
  font-family: sans-serif;
}

header {
  background: var(--background);
  color: var(--main-text);
  padding: 2rem;
  text-align: center;
}

header .title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: .5rem;
}

main {
  margin: 1rem;
}

#App main .title{
  padding: 2rem .8rem;
}

main legend {
  margin: 1rem;
}

@media screen and (min-width: 700px){
  main {
    display: flex;
    flex-wrap: wrap;
  }
  article:hover {
    transform: scale(1.02);
    transition: all 0.2s;
    cursor: pointer;
  }
  article {
    max-width: 45vw;
    background: var(--card-background);
    border: solid var(--card-border) 1px;
    border-radius: 12px;
    margin: 5px;
    overflow: hidden;
  }
  article .title {
    padding: 2rem 0;
    text-align: center;
    background: var(--background);
    color: var(--main-text);
  }
  article legend {
    margin: 1.5rem;
  }
  @media screen and (min-width: 1230px){
    article {
      max-width: 31vw;
    }
  }
}

footer {
  background: var(--background);
  color: var(--main-text);
  padding: 3rem;
  margin-top: 2rem;
}

footer > p[class='credits']{
  font-weight: bold;
}