<carousel [isAnimated]='true'>
  <slide>
    <img class="d-block w-100"
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Farticle.images.consumerreports.org%2Fprod%2Fcontent%2Fdam%2FCRO%2520Images%25202019%2FMoney%2F01January%2FCR-Money-Inlinehero-college-scholarship-tips-0119.jpg&f=1&nofb=1">
  </slide>
  <slide>
    <img class="d-block w-100"
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic01.nyt.com%2Fimages%2F2018%2F03%2F26%2Fopinion%2F26leonhardt2%2F26leonhardt2-videoSixteenByNineJumbo1600.jpg&f=1&nofb=1">
  </slide>
  <slide>
    <img class="d-block w-100"
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.jk-uZJflHrU48xLm-u5m7AHaEK%26pid%3DApi&f=1">
  </slide>
</carousel>